<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>virat kohli</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <style>
        h1
        {
            color: white;
            background-color: blue;
            padding: 10px;
            display: inline-flex;
            border-radius: 20px;
        }
        body
        {
           background-color: black;
           color: white;
          
        }
        #introduction
        {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <section id="introduction">
        <center>
            <h1>The Chase Master King Virat Kohli</h1>
        </center>
        <p>Virat Kohli is an Indian international cricketer and the former captain of the Indian national cricket team. He currently represents Royal Challengers Bangalore in the IPL and Delhi in domestic cricket. Kohli is widely regarded as one of the greatest batsmen in the history of the sportVirat Kohli is an Indian international cricketer and the former captain of the Indian national cricket team. He currently represents Royal Challengers Bangalore in the IPL and Delhi in domestic cricket. Kohli is widely regarded as one of the greatest batsmen in the history of the sportVirat Kohli is an Indian international cricketer and the former captain of the Indian national cricket team. He currently represents Royal Challengers Bangalore in the IPL and Delhi in domestic cricket. Kohli is widely regarded as one of the greatest batsmen in the history of the sport.</p>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <img src="https://imgs.search.brave.com/Nst_4j9t4v9Ctssq7H1ReCWo9cQ-n86Yvnu6JNH3nS0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/c3BvcnRwaG90b2dh/bGxlcnkuY29tL2Nv/bnRlbnQvaW1hZ2Vz/L2Ntc2ZpbGVzL3By/b2R1Y3QvMjY1NjUv/MjY5MDMtbGlzdC5q/cGc" alt="" class="img-fluid">
                        </div>
                        <div class="card-body">
                            <p>Virat Kohli is an Indian international cricketer and the former captain of the Indian national cricket team. He currently represents Royal Challengers Bangalore in the IPL and Delhi in domestic cricket</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <img src="https://imgs.search.brave.com/Nst_4j9t4v9Ctssq7H1ReCWo9cQ-n86Yvnu6JNH3nS0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/c3BvcnRwaG90b2dh/bGxlcnkuY29tL2Nv/bnRlbnQvaW1hZ2Vz/L2Ntc2ZpbGVzL3By/b2R1Y3QvMjY1NjUv/MjY5MDMtbGlzdC5q/cGc" alt="" class="img-fluid">
                        </div>
                        <div class="card-body">
                            <p>Virat Kohli is an Indian international cricketer and the former captain of the Indian national cricket team. He currently represents Royal Challengers Bangalore in the IPL and Delhi in domestic cricket</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <img src="https://imgs.search.brave.com/Nst_4j9t4v9Ctssq7H1ReCWo9cQ-n86Yvnu6JNH3nS0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/c3BvcnRwaG90b2dh/bGxlcnkuY29tL2Nv/bnRlbnQvaW1hZ2Vz/L2Ntc2ZpbGVzL3By/b2R1Y3QvMjY1NjUv/MjY5MDMtbGlzdC5q/cGc" alt="" class="img-fluid">
                        </div>
                        <div class="card-body">
                            <p>Virat Kohli is an Indian international cricketer and the former captain of the Indian national cricket team. He currently represents Royal Challengers Bangalore in the IPL and Delhi in domestic cricket6</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <img src="https://imgs.search.brave.com/Nst_4j9t4v9Ctssq7H1ReCWo9cQ-n86Yvnu6JNH3nS0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/c3BvcnRwaG90b2dh/bGxlcnkuY29tL2Nv/bnRlbnQvaW1hZ2Vz/L2Ntc2ZpbGVzL3By/b2R1Y3QvMjY1NjUv/MjY5MDMtbGlzdC5q/cGc" alt="" class="img-fluid">
                        </div>
                        <div class="card-body">
                            <p>Virat Kohli is an Indian international cricketer and the former captain of the Indian national cricket team. He currently represents Royal Challengers Bangalore in the IPL and Delhi in domestic cricket</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </section>

    <div style="height: 500px;">

    </div>


    <!-- script code -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>